---
layout: base
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
        <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
        <p class="post-meta">
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                <i class="icon-post-date">{{ page.date | date: "%b %-d, %Y" }}</i>
            </time>
            {% if page.categories.size > 0 %} |
            <span class="post-category">
            <i class="icon-post-category">
            {% for page_category in page.categories %}
                <a href="{{ site.baseurl }}/category/#{{ page_category }}">{{ page_category }}</a>
            {% endfor %}
            </i>
        </span> {% endif %} {% if page.tags.size > 0 %} |
            <span class="post-tag">
            <i class="icon-post-tag">
            {% for page_tag in page.tags %}
                <a href="{{ site.baseurl }}/tags/#{{ page_tag }}">{{ page_tag }}</a>
            {% endfor %}
            </i>
        </span>{% endif %}


            <!-- 阅读量统计， id 将作为查询条件 -->
            <span id={{page.url}} class="leancloud-visitors" data-flag-title={{page.title}}>
                <span class="post-meta-divider">|</span>
                <span class="post-meta-item-text">阅读量 </span>
                <span class="leancloud-visitors-count"></span>
            </span>
        </p>

    </header>

    <div class="post-content" itemprop="articleBody">
        {{ content }}
    </div>

    <div id="donate" >
        <a href="/donate/" style="text-decoration: none" title="点击直达打赏页面～" >
            <button>喜欢我，就给我<mark>投食</mark>吧~☆</button>
        </a>
    </div>


    <div class="post-nav">
        {% if page.previous %}
        <a href="{{ page.previous.url | prepend: site.baseurl }}" class="pre"><i class="icon-post-pre"> {{
            page.previous.title }}</i></a>
        {% endif %} {% if page.next %}
        <a href="{{ page.next.url | prepend: site.baseur }}" class="next">{{ page.next.title }} <i
                class="icon-post-next"></i></a>
        {% endif %}
    </div>

    <script>
        var image = new Image();
        image.onload = function(){
            $("#reply_title").html("欢迎留言：");
            $("#disqus_thread").attr("style","display:block");
        };
        image.onerror = function(){
            $("#reply_title").html("🇨🇳🇨🇳🇨🇳检测到您无法使用Disqus（需科学上网），已切换到精简模式：");
            $("#valine_comment").attr("style","display:block");
        };
        image.src = "http://youtube.com/favicon.ico?v="+Date.parse(new Date());
    </script>

    <!--valine comment function-->
    <script src="https://cdnjs.loli.net/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!--    <script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>-->
    <script src="/assets/js/Valine.min.js"></script>

    <em><p id="reply_title">正在检测Disqus服务是否可用...</p></em>
    <!-- disqus -->
    <div id="disqus_thread" style="display: none;"></div>
    <script>
        (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://moelab-net.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

    <!-- 改用disqus，valine纯用来计算访问量 -->
    <div id="valine_comment" class="fb_comments_container" style="display: none;"></div>
    <script>
        var notify = '{{site.valine.notify}}' === true;
        var verify = '{{site.valine.verify}}.>' === true;
        var visitor = '{{site.valine.visitor}}.>' === true;
        new Valine({
            av: AV,
            el: '#valine_comment',
            notify: notify,
            verify: verify,
            // smiles_url: '/smiles',
            visitor: true,
            app_id: '{{site.valine.app_id}}',
            app_key: '{{site.valine.app_key}}',
            placeholder: '{{site.valine.placeholder}}',
            avatar: '{{site.valine.avatar}}',
        });
    </script>

</article>
